@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.container{
    background-image: url(../assets/header.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-titulo);
    font: 500;
}